/* Estilo geral */

*{
    margin: 0%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
}

/* Estilo geral */

/* Estilo Navbar */

.divNav{
    background-color: #F0D017;
}

.logo_nav{
    min-width: 100px;
    width: 10vw;    
}

.nav_pesq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Input Nav */

.input_nav{
    width: 100%;
    font-size: 1.5vw;
}

.lupa_nav{
    display: flex;
    align-items: center;
}

.lupa_input_nav{
    position: relative;
    right: 40px;
    cursor: pointer;
}

/* Input Nav */

/* Links de navegação */

.opc_navegacao{
    width: 50vw;
    margin-top: 10px;
    font-size: 1.3vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#select_categorias{
    width: 8vw;
    min-width: 80px;
    font-size: 1.3vw;
    background-color: #F0D017;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/* Links de navegação */

/* Links de entrada */

.opc_entrada{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.3vw;
}

/* Links de entrada */

/* Links gerais*/

.link_nav:hover,.link_entrada:hover{
    color: white;
    background-color: #b19915ad;
}

select:hover{
    color: white;
}


/* Links gerais*/

/* Estilo Navbar */

/* Slider */

.propagandas{
    display: flex;
    flex: 1;
}

.img_propaganda{
    margin-top: 40px;
    width: 50%;
    height: 60vh;
}

/* Slider */

/* Slider promoções do mês */

.section_promo_mes{
    display: flex;
    flex-direction: column;
}

.section_promo_mes > h1{
    text-align: center;
    margin: 40px 0px;
}

#carouselExampleInterval2{
    width: 100%;
}

.scroll_promos{
    margin: 0px 40px;
    font-size: 2vw;
    display: flex;
    overflow: auto;
    justify-content: space-between;
}

.promos_mes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card_promo{
    margin: 0px 20px;
}

.img_promo_mes{
    width: 100%;
    height: 100%;
}

/* Slider promoções do mês */

/* Ofertas do dia */

.section_oferta_dia{
    margin: 0px 40px;
}

.section_oferta_dia > h1{
    text-align: center;
    margin: 40px 0px;
}

.produtos_oferta_dia{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.img_oferta_dia{
    width: 100%;
    height: 50%;
}

/* Ofertas do dia */

/* Slider Marcas */

.img_marcas{
    width: 50%;
    height: 50%;
    margin: auto;
}

/* Slider Marcas */

/* Cetegorias mais Procuradas */

.divCategorias{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
}

.categoria{
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    cursor: pointer;
}

.img_categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
}

.categoria:hover{
    border: 15px solid rgb(54, 54, 228);
}





/* Cetegorias mais Procuradas */

@media (width < 720px){

    input{
        font-size: 0.7rem !important;
    }

    select,a{
        font-size: 0.7rem !important;
    }
}

